
html{
	font-family: sans-serif;
}

.header{
	text-align: center;
	padding:20px;
	border: 2px solid #ccc;
	background-color: #eee;
}

.menu{
	text-align: center;
	padding:20px;
	background-color: #aaa;
}

.btn{
	border:none;
	text-align: center;
	padding:10px;
	cursor:pointer;
}

.fullwin{
	background-color: blue;
	color:white;
}

.fullwin:hover{
	background-color:white;
	color:blue;
}


.inline{
	background-color: gold;
	color: black;
}

.inline:hover{
	background-color: black;
	color:gold;
}

.sized{
	background-color: pink;
	color:black;
}

.sized:hover{
	background-color: black;
	color:pink;
}
